@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <b>REMEMBER:</b> You cannot have a Job Seeker, Worker or Leaver without first @Html.ActionLink("Creating an Interviewee", "Create","Interviewee")
        </p>
    </div>
    <div class="col-md-4">
        <h2>Out Of Contract</h2>
        <p>The list of @Html.ActionLink("CONTRACTORS CURRENTLY OUT OF CONTRACT","OutOfContract","Worker") <b>should always be EMPTY</b></p>
        
    </div>
    <div class="col-md-4">
        <h2>Contractors for Action</h2>
        <p><b>Any Contract expiring within 30 days requires a follow up! </b> @Html.ActionLink("click here","FinishingSoon","Worker") to action this list</p>
    </div>
</div>


<table style="width:100%">
    <tr>
        <td colspan="3">
            <div id="interviewNav">
                <ul>
                    <li><div id="interviews"></div></li>
                    <li><div id="signups"></div></li>
                    <li><div id="oncontract"></div></li>
                    <li><div id="endingsoon"></div></li>
                    <li><div id="outofcontract"></div></li>

                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="demoWidget" style="position: relative;">
                <div style="float: left;" id="interviewGauge"></div>
                <strong><div id="interviewValue" style="position: absolute; top: 125px; left: 66px; font-family: Sans-Serif; text-align: center; font-size: 15px; width: 70px;"></div></strong>
            </div>
        </td>
        <td>
            <div id="demoWidget" style="position: relative;">
                <div style="float: left;" id="signupGauge"></div>
                <strong><div id="signupValue" style="position: absolute; top: 125px; left: 66px; font-family: Sans-Serif; text-align: center; font-size: 15px; width: 70px;"></div></strong>
            </div>
        </td>
        <td>
            <div id="workingKnob" style="position: relative;"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="demoWidget" style="position: relative;">
                <div style="float: left;" id="successRate"></div>
                <strong><div id="successValue" style="position: absolute; top: 125px; left: 66px; font-family: Sans-Serif; text-align: center; font-size: 15px; width: 70px;"></div></strong>
            </div>
        </td>
        <td>
            <div id="demoWidget" style="position: relative;">
                <div style="float: left;" id="repeatRatio"></div>
                <strong><div id="repeatratioValue" style="position: absolute; top: 125px; left: 66px; font-family: Sans-Serif; text-align: center; font-size: 15px; width: 70px;"></div></strong>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">
            <div id="statsNav">
                <ul>
                    <li><div id="daystojob"></div></li>
                    <li><div id="repeatcontractors"></div></li>
                    <li><div id="oncontract"></div></li>
                    <li><div id="endingsoon"></div></li>
                    <li><div id="outofcontract"></div></li>
                </ul>
            </div>
        </td>
    </tr>
</table>

<script src="~/Scripts/intern/lookups/dashboard.js"></script>
