
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <td colspan="3">
            <div id="interviewNav">
                <ul>
                    <li><div id="interviews"></div></li>
                    <li><div id="signups"></div></li>
                    <li><div id="oncontract"></div></li>
                    <li><div id="endingsoon"></div></li>
                    <li><div id="outofcontract"></div></li>
                    
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="demoWidget" style="position: relative;">
                <div style="float: left;" id="interviewGauge"></div>
                <div id="interviewValue" style="position: absolute; top: 135px; left: 66px; font-family: Sans-Serif; text-align: center; font-size: 11px; width: 70px;"></div>
            </div>
        </td>
        <td><div id="demoWidget" style="position: relative;">
                <div style="float: left;" id="signupGauge"></div>
                <div id="signupValue" style="position: absolute; top: 135px; left: 66px; font-family: Sans-Serif; text-align: center; font-size: 11px; width: 70px;"></div>
            </div>
        </td>
        <td>
            <div id="workingKnob" style="position: relative;">
                
            </div>
            
        </td>
    </tr>
    <tr>
        <td>
            <div id="demoWidget" style="position: relative;">
                <div style="float: left;" id="successRate"></div>
                <div id="successValue" style="position: absolute; top: 135px; left: 66px; font-family: Sans-Serif; text-align: center; font-size: 11px; width: 70px;"></div>
            </div>
        </td>
        <td>
           
        </td>       
    </tr>
    <tr>
        <td colspan="3">
            <div id="statsNav">
                <ul>
                    <li><div id="daystojob"></div></li>
                    <li><div id="signups"></div></li>
                    <li><div id="oncontract"></div></li>
                    <li><div id="endingsoon"></div></li>
                    <li><div id="outofcontract"></div></li>

                </ul>
            </div>
        </td>
    </tr>
</table>

<script src="~/Scripts/intern/lookups/dashboard.js"></script>